body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(1.jpg);
    
     
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

nav {
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 0.5em 0;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 1em;
    margin: 0 1em;
    display: inline-block;
}

section {
    padding: 2em;
}

.product {
    border: 1px solid rgb(5, 248, 248);
    border-radius: 5px;
    padding: 1em;
    margin: 1em;
    text-align: center;
    background-color: #09fcfc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.kosar{

  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 20%;
  will-change: transform;
}

.kosar:disabled {
  pointer-events: none;
}

.kosar:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.koasr:active {
  box-shadow: none;
  transform: translateY(0);
}
